
#notifications {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#notification-list {
    list-style-type: none;
    padding: 0;
}

#notification-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#notification-list li:last-child {
    border-bottom: none;
}